.App {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(205, 205, 205);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

canvas{
  margin: 10px;
  border: 1px solid #c7c7c7;
}

.settings{
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 1rem;
}

.select{
  display: flex;
  margin-top: 10px;
  font-weight: bold;
  justify-content: center;
  padding: 1rem;
  padding-right: 2rem;
  min-width: 300px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  font-family: "SUSE", sans-serif;
}

.select:hover{
  box-shadow: 0 4px 8px 0 rgba(109, 196, 246, 0.2), 0 6px 20px 0 rgba(140, 246, 219, 0.19);
}

.select option {
  padding: 20px;
}

.colorwrapper{
  display: flex;
  padding: 10px;
  max-width: 300px;
  align-items: center;

}
.colorchange{
  border: none;
  box-sizing: content-box;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color:  rgb(213, 213, 213);
}